<div class="welcome-wrapper d-flex align-items-center justify-content-center vh-100 bg-white">
  <div class="welcome-card text-center">

    <h2 class="title">
      <span class="highlight">Descubre</span> rincones únicos
    </h2>

    <p class="subtitle">
      Vive experiencias <span class="text-accent">inolvidables</span>
    </p>

    <div class="image-container mb-4">
      <img src="assets/img/bg-image.png" alt="Explora paraísos secretos" class="img-fluid rounded-shape">
    </div>

    <div class="mt-4">
      <button [routerLink]="['/home/login']" class="btn btn-primary btn-brown w-75 mb-4">Ingresar</button>
      <button [routerLink]="['/home/register']" class="btn btn-outline-dark w-75">Crear cuenta</button>
    </div>

  </div>
</div>
